<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link al Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- Link al CSS in dist/ -->
    <link rel="stylesheet" href="dist/app.css">

    <!-- Link a Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    
    <title>PROJ-HTML-VUEJS</title>
</head>

<body>
    
    <div id="app">
        
        <header @mouseOut="closeSearchBar()">
            
            <!-- Navbar -->
            <section class="navbar">
                
                <!-- Brand Side -->
                <div class="left-side">
                    
                    <div class="logo-container">
                        <img src="images/logo.png" alt="">
                    </div>
                    
                </div>
                
                <!-- Navbar Side -->
                <div class="right-side">
                    
                    <ul class="links">
                        
                        <li v-for="link in navbarLinks">
                            <a :href="link.link">
                                {{ link.text }}
                            </a>

                        </li>

                        <a href="#">
                            <i @click="openCloseSearchBar()" class="fas fa-search" v-if="!searchBarActive"></i>

                            <input type="search" v-else="searchBarActive">
                        </a>
    
                    </ul>
    
                </div>
    
            </section>

            <!-- Hero section header -->
            <section class="header-hero">

                <div class="hero-wrapper">

                    <span>CONFERENCE ON</span>

                    <h1>SOCIAL NETWORKS</h1>

                    <div class="dates-container">

                        <div>23 - 26 MAY 2019  </div>
                        <div><strong>/</strong></div>
                        <div> SAN FRANCISCO  </div>
                        <div><strong>/</strong></div>
                        <div> 8 SPEAKERS</div>

                    </div>

                    <a href="#" class="primaryButton">REGISTER ONLINE</a>

                </div>

            </section>
    
        </header>

        <main>

            <!-- First main section QUESTION -->
            <section class="question-section">

                <div class="question-wrapper">

                    <div>

                        <h4>WHO WE ARE</h4>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam porro explicabo, autem nam non vitae eum ad suscipit quidem molestias.</p>

                        <a href="#">Learn more</a>

                        <div class="obj-question"></div>

                    </div>

                    <div>

                        <h4>WHO WE ARE</h4>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam porro explicabo, autem nam non vitae eum ad suscipit quidem molestias.</p>

                        <a href="#">Learn more</a>

                        <div class="obj-question"></div>

                    </div>

                    <div>

                        <h4>WHO WE ARE</h4>

                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam porro explicabo, autem nam non vitae eum ad suscipit quidem molestias.</p>

                        <a href="#">Learn more</a>

                        <div class="obj-question"></div>

                    </div>

                </div>

            </section>

            <!-- TIMER section -->
            <section class="timer-section">

                <div class="timer-wrapper">

                    <div class="time-container">

                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>

                    </div>

                    <h3>SUBSCRIBE FOR UPDATES</h3>

                    <div class="sub-container">

                        <input type="text">

                        <a href="#" class="primaryButton">SUBSCRIBE</a>

                    </div>

                </div>

            </section>

            <!-- SPEAKERS section -->
            <section class="speakers-section">

                <div class="speakers-wrapper">

                    <h2>SPEAKERS</h2>

                    <div class="arrow-container"></div>

                    <div class="photos-speakers">

                        <div class="speaker-card">

                            <div class="img-container">
                                <img src="" alt="">
                            </div>
    
                            <h5>PATRCK SPENCER</h5>
    
                            <span>S&P Analyzer</span>

                        </div>

                        <div class="speaker-card">

                            <div class="img-container">
                                <img src="" alt="">
                            </div>
    
                            <h5>PATRCK SPENCER</h5>
    
                            <span>S&P Analyzer</span>

                        </div>

                        <div class="speaker-card">

                            <div class="img-container">
                                <img src="" alt="">
                            </div>
    
                            <h5>PATRCK SPENCER</h5>
    
                            <span>S&P Analyzer</span>

                        </div>

                        <div class="speaker-card">

                            <div class="img-container">
                                <img src="" alt="">
                            </div>
    
                            <h5>PATRCK SPENCER</h5>
    
                            <span>S&P Analyzer</span>

                        </div>

                        

                    </div>

                </div>

            </section>

            <!-- PROGRAM section -->
            <section class="program-section">

                <div class="program wrapper">



                </div>

            </section>

            <!-- MAP section -->
            <section class="map-section">

                <div class="map-wrapper"></div>

            </section>

            <!-- LOCATION section -->
            <section class="location-section">

                <div class="location-wrapper"></div>

            </section>

            <!-- NEWS section -->
            <section class="news-section">

                <div class="news-wrapper"></div>

            </section>

            <!-- TICKETS section -->
            <section class="tickets-section">

                <div class="tickets-wrapper"></div>

            </section>

            <!-- PRESENTATION section -->
            <section class="presetation-section">

                <div class="presentation-wrapper"></div>

            </section>

            <!-- SPONSOR section -->
            <section class="sponsor-section">

                <div class="sponsor-wrapper"></div>

            </section>

        </main>

        <footer class="top-footer">

            <div class="internal-wrapper">

                <!-- ABOUT US -->
                <div class="about-us-section">

                    <h4 class="padding-bottom-20">ABOUT US</h4>
    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus culpa facilis laudantium reprehenderit iure.</p>

                    <div class="social-wrapper">

                        <i class="fab fa-facebook-square"></i>

                        <i class="fab fa-twitter-square"></i>

                        <i class="fab fa-linkedin"></i>

                        <i class="fab fa-google-plus-square"></i>

                        <i class="fab fa-pinterest-square"></i>

                        <i class="fab fa-discord"></i>
                    </div>
    
                </div>
    

                <!-- NEWS -->
                <div class="news-section">
                    <h4>RECENT NEWS</h4>

                    <ul class="news-ul">
                        <li v-for="title in recentNews">
                            {{ title.title }}
                        </li>
                    </ul>
                </div>
    

                <!-- GET YOUR SEAT  -->
                <div class="seat-section">

                    <h4>
                        GET YOUR SEAT!
                    </h4>

                    <p>
                        Book for your seat before it's too late. 
                        <br>
                        We provide variety of ticket options.
                    </p>

                    <a href="#" class="primaryButton">
                        CHECK OUT TICKETS
                    </a>

                </div>
    

                <!-- GALLERY -->
                <div class="gallery-section">

                    <h4>GALLERY FROM LAST YEAR</h4>

                    <div class="imgs-footer-container">

                        <img v-for="img in recentNews" :src="img.lilImg" alt="Immagini delle news">

                    </div>

                </div>

            </div>

        </footer>

        <footer class="bottom-footer">

        </footer>

    </div>

    <script src="Vue.js"></script>
</body>
</html>