footer {
    padding: $bigSpacing 0;
}
.top-footer {
    background-color: $topFooterBgColour;

    display: flex;


    .internal-wrapper {

        width: 80%;
        margin: auto;

        display: flex;

        &>* {
            width: 25%;

            color: $thirdText;

            &>* {
                padding: $lilSpacing 0
            }
        }

    }
}

.bottom-footer {
    background-color: $bottomFooterBgColour;

    display: flex;
}