footer {
    padding: $bigSpacing 0;
    color: $secondText;
}

//TOP FOOTER
.top-footer {
    background-color: $topFooterBgColour;

    display: flex;


    .internal-wrapper {

        width: 80%;
        margin: auto;

        display: flex;

        &>* {
            width: 25%;

            color: $thirdText;

            &>* {
                // padding: $lilSpacing 0
            }
        }

    }

    .imgs-footer-container {
        display: flex;
        flex-wrap: wrap;

        // width: 100%;

        &>* {
            width: 30%;

            padding:3%
        }
    }
}

//BOTTOM FOOTER
.bottom-footer {
    background-color: $bottomFooterBgColour;

    .footer-wrapper {
        width: 80%;
        margin: auto;

        display: flex;
        justify-content: space-between;

        .right-side {
            display: flex;
        }
    }
}