// Navbar "The Keynote" fino alla Lente di Ricerca
header {
    background-color: $firstBgColour;

    // NAVBAR
    .navbar {
        width: 80%;
        margin: auto;
        padding: $bigSpacing 0;
        display: flex;
        justify-content: space-between;


        .left-side {
            cursor: pointer;
        }


        .right-side {


            .links {
                display: flex;
                list-style: none;


                a {
                    margin: 0 ($lilSpacing / 2);
                    color: $secondText;
                    text-decoration: none;

                    &:hover {
                        color: $linkText;

                        border-bottom: 2px solid $linkText;
                    }
                }
            }
        }
    }

    //HEADER HERO
    .header-hero {
        background-image: url(/images/slider-1-bg.jpg);
    }
}