// QUESTION SECTION
.question-section {
    .question-wrapper {
        margin: auto;
        width: 80%;
        padding: $bigSpacing 0;

        display: flex;
        justify-content: center;

        &>* {
            width: 30%;

            padding: calc(10% / 3);

            position: relative;

            a {
                text-decoration: none;
                color: $linkText;
            }

            i {
                position: absolute;

                left: 0;
                top: $medSpacing*2;

                color: $secondText;

            }

            p {
                color: $secondText;
            }

            &>* {
                padding: $lilSpacing 0;
            }
        }
    }
}


// TIMER section
.timer-section {
    background-image: url(/images/coutdown-bg1.jpg);
    background-position-y: center;

    .timer-wrapper {
        width: 80%;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: $bigSpacing*2 0;

        .time-container {
            display: flex;

            &>* {
                margin: $medSpacing;

                padding: $lilSpacing;
                background-color: rgba($color: #000000, $alpha: 0.6);

                color: $thirdText;
                font-size: xx-large;

                border-radius: $lilSpacing/3;


            }
        }
    }
}