// Testi
$firstText: #272727;
$secondText: #868686;
$thirdText: #ffffff;
$linkText: #f72b0c;


// Colori sfondo (Header , main)
$firstBgColour: #c6c1bd;
$SecondBgColour: #ffffff;
    // (Footer)
$topFooterBgColour:#272727;
$bottomFooterBgColour: #040404;










